<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commurz</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Hello World {{ data.name }}</h1>

    <form>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <button hx-post="/users"
            hx-target="#list-users"
            hx-swap="innerHTML"
            >
            Create
        </button>

        <table>
            <thead>
                <tr>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody id="list-users">
            </tbody>
        </table>
    </form>
</body>
</html>