<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commurz</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">

    <script src="https://unpkg.com/htmx.org@1.9.3/dist/htmx.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="main">
        <form hx-post="/users" hx-target="#main" hx-swap="outerHTML">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
    
            <button type="submit">
                Create
            </button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% include "../user/partial_created.html" %}
            </tbody>
        </table>
    </div>
</body>
</html>