<div id="main">
    <form hx-post="/users" hx-target="main" hx-swap="outerHTML">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <button type="button">
            Create
        </button>

        {% block error %}
        {% endblock %}
    </form>

    <table>
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% include "../user/partial_created.html" %}
        </tbody>
    </table>
</div>